.logo1 {
  max-width: 120px;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  position: relative;
}
.logo2 {
  max-width: 400px;
  max-height: 400px;
  top: 90px;
  left: 490px;
  position: absolute;
}
@media (prefers-reduced-motion: no-preference) {
  .logo2 {
    animation: App-logo-spin infinite 3s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  height: 657px;
  width: 1365px;
  background-size: cover;
}
.clock {
  margin-right: 1050px;
  margin-top: 200px;
}
span {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(29, 216, 223);
  text-shadow: 1px 1px 2px rgb(49, 122, 0), 0 0 25px rgb(255, 255, 255),
    0 0 5px rgb(2, 2, 82);
}
